/*  author Chalykh Maksim 
  # data 25.01.2025 
  # email: chalyh.maksim.88@mail.ru */

p {
  margin: 0;
  padding: 0;
}

body {
  background-color: #e4e4e7;
  font-family: sans-serif;
}

.centre {
  margin-left: auto;
  margin-right: auto;
}

.title-select {
  text-align: center;
}

.class-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.class-list-item {
  width: 300px;
  height: 150px;
  margin-right: 10px;
  margin-bottom: 10px;  
}

/* классы сидячие при без действии */
.button-select-mage-img {
  background-image: url(../img/mage_class_h_sits.png);
}

.button-select-sage-img {
  background-image: url(../img/mage_class_h2_sits.png);
}

.button-select-merchant-alchemist-img {
  background-image: url(../img/merchant_class_h1_sits.png);
}

.button-select-merchant-blacksmith-img {
  background-image: url(../img/merchant_class_h2_sits.png);
}

.button-select-acolyte-priest-img {
  background-image: url(../img/acolyte_class_h1_sits.png);
}

.button-select-acolyte-monk-img {
  background-image: url(../img/acolyte_class_h2_sits.png);
}

.button-select-swordman-crusader-img {
  background-image: url(../img/swordman_class_h1_sits.png);
}

.button-select-swordman-knight-img {
  background-image: url(../img/swordman_class_h2_sits.png);
}

.button-select-thief-assassin-img {
  background-image: url(../img/thief_class_h1_sits.png);
}

.button-select-thief-rogue-img {
  background-image: url(../img/thief_class_h2_sits.png);
}

.button-select-archer-hunter-img {
  background-image: url(../img/archer_class_h1_sits.png);
}

.button-select-archer-bard-img {
  background-image: url(../img/archer_class_h2_sits.png);
}

.button-select-archer-dancer-img {
  background-image: url(../img/archer_class_h3_sits.png);
}

/* классы стоячие при выборе, фокусе */
.button-select-mage-img:hover {
  background-image: url(../img/mage_class_h.png);
}

.button-select-sage-img:hover {
  background-image: url(../img/mage_class_h2.png);
}

.button-select-merchant-alchemist-img:hover {
  background-image: url(../img/merchant_class_h1.png);
}

.button-select-merchant-blacksmith-img:hover {
  background-image: url(../img/merchant_class_h2.png);
}

.button-select-acolyte-priest-img:hover {
  background-image: url(../img/acolyte_class_h1.png);
}

.button-select-acolyte-monk-img:hover {
  background-image: url(../img/acolyte_class_h2.png);
}

.button-select-swordman-crusader-img:hover {
  background-image: url(../img/swordman_class_h1.png);
}

.button-select-swordman-knight-img:hover {
  background-image: url(../img/swordman_class_h2.png);
}

.button-select-thief-assassin-img:hover {
  background-image: url(../img/thief_class_h1.png);
}

.button-select-thief-rogue-img:hover {
  background-image: url(../img/thief_class_h2.png);
}

.button-select-archer-hunter-img:hover {
  background-image: url(../img/archer_class_h1.png);
}

.button-select-archer-bard-img:hover {
  background-image: url(../img/archer_class_h2.png);
}

.button-select-archer-dancer-img:hover {
  background-image: url(../img/archer_class_h3.png);
}



.button-select-img {
  width: 300px;
  height: 150px;  
  background-color: rgb(255, 255, 255);
  /* border: solid 1px; */
  box-shadow: 4px 3px 3px 3px gray;
}

.button-select-img:hover {
  background-color: #c6c4e6;
}

.job-tree {
  display: flex;
  flex-direction: row;  
  width: 780px;
  background-color: #5b719f;
  color: #fff;
  border: solid 1px;
  background-repeat: no-repeat;
  padding: 5px;
  font-family: sans-serif;
}

.panel-statistic-job-one {
  margin-bottom: 10px;
}

.panel-statistic-job-two {
  margin-bottom: 10px;
}

.panel-statistic-job-two-hight {
  margin-bottom: 10px;
}


.skill {
  display: flex;
  white-space: nowrap;
  width: 250px;
  height: 40px;
  background-color: yellow;
  border: solid 1px;
  margin-bottom: 2px;
  color: #000;
  font-family: sans-serif;
}

.job-one {
  width: 254px;
}

.job-two {
  width: 254px;
}

.job-two-hight {
  width: 254px;
}

.job-name {
  text-align: center;
  margin-right: 10px;
}  

.skill-img {
  width: 40px;
  height: 40px;
  background-color: rgb(255, 255, 255);
  position: relative;
  box-sizing: border-box; 
}

.skill-img:hover {
  border: solid rgb(252, 229, 127) 3px;  
}

.skill-block {
  width: 210px;
  height: 40px;
}

.skill-name-block {
  display: flex;
  height: 20px;
  background-color: white;
}

.skill-name {
  flex: auto;
  text-align: center;
  margin: 2px 0 2px 0;
  padding: 0;
}

.skill-progress {
  display: flex;
  justify-content: space-between;
  height: 20px;
  text-align: center;
  background-color: #add8e6;
}

@media (max-width: 699px) {
  .job-tree {
    display: flex;
    flex-direction: column;
    max-width: 350px;
  }

  .panel-statistic {
    max-width: 360px;
  }

  

  .job-one {
    display: flex;
    flex-direction: column;
    width: 300px;
  }
  
  .job-two {
    width: 300px;
  }
  
  .job-two-hight {
    width: 300px;
  }

  .skill {
    width: 300px;
  }

  .skill-block {
    width: 260px;
  }  
}

  .line {
    display: flex;
    justify-content: center;
  }

  .dot {  
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: gray;
    margin: 3px 2px;
    cursor: pointer;
  }

  .dot:hover {
    background-color: rgb(81, 81, 252);
  }
  
  
  .dot-reset {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: red;
    margin: 2px 2px 0 0;
    cursor: pointer;
  }

  .hidden {
    background-color: blue;
  }

  .panel-statistic {
    display: flex;
    width: 710px;
    align-items: center;
    border: solid 1px;
    margin-bottom: 10px;
  }

  .bnt-reset {
    margin: 5px;
    cursor: pointer;
  }

  .statistic-text {
    margin-right: 5px;
  }

  .red {
    background-color: red;  
  }


.ePopDiv {
  max-width: 600px;
  width: auto;
  height: auto;
  border: solid #000000 3px;
  background-color: rgb(250, 248, 229);  
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  padding: 3px;

  position: absolute;
  z-index: 100;
  left: 0;
  top: 0px;

  /* Скрывает переполнение текста   */
  overflow: hidden; 
  /* Переносит длинные слова на следующую строку */  
  word-wrap: break-word; 
  /* Позволяет перенос строк и сохраняет нужные переносы */    
  white-space: pre-wrap; 
}


/*  author Chalykh Maksim 
  # data 25.01.2025 
  # email: chalyh.maksim.88@mail.ru */
