/*  author Chalykh Maksim 
  # data 25.01.2025 
  # email: chalyh.maksim.88@mail.ru */

p {
  margin: 0;
  padding: 0;
}

.title-select {
  text-align: center;
}

.class-list-item {
  margin-left: auto;
  margin-right: auto;
}
.class-list-item {    
  width: 300px;
  height: 370px;
}

.centre {
  margin-left: auto;
  margin-right: auto;
}

.button-select-mage-img {
  width: 300px;
  height: 370px;
  background-color: rgb(255, 255, 255);
  background-image: url(../img/mage_class_nofon.png);
  border: solid 1px;
}

.button-select-mage-img:hover {
  background-color: #bbbbcc;
}

.job-tree {
  display: flex;
  flex-direction: row;  
  width: 700px;
  background-color: #bbbbcc;
  color: #000000;
  border: solid 1px;
  background-repeat: no-repeat;
  padding: 5px;
}

.skill {
  display: flex;
  white-space: nowrap;
  width: 220px;
  height: 40px;
  background-color: yellow;
  border: solid 1px;
  margin-bottom: 2px;
}

.job-mage {
  width: 224px;
}

.job-wizard {
  width: 224px;
}

.job-hwiz {
  width: 224px;
}

.job-name {
  text-align: center;
  margin-right: 10px;
}  

.skill-img {
  width: 40px;
  height: 40px;
  background-color: rgb(255, 255, 255);
}

.skill-block {
  width: 180px;
  height: 40px;
}

.skill-name-block {
  display: flex;
  height: 20px;
  background-color: white;
}

.skill-name {
  flex: auto;
  text-align: center;
  margin: 2px 0 2px 0;
  padding: 0;
}

.skill-progress {
  flex: auto;
  height: 20px;
  text-align: center;
  background-color: #add8e6;
}

@media (max-width: 699px) {
  .job-tree {
    display: flex;
    flex-direction: column;
    max-width: 350px;
  }

  .panel-statistic {
    max-width: 360px;
  }

  .dot-reset {
    margin: 2px 2px 0 0;
  }

  .job-mage {
    display: flex;
    flex-direction: column;
    width: 300px;
  }
  
  .job-wizard {
    width: 300px;
  }
  
  .job-hwiz {
    width: 300px;
  }

  .skill {
    width: 300px;
  }

  .skill-block {
    width: 260px;
  }  
}

  .line {
    display: flex;
    justify-content: center;
  }

  .dot {  
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: gray;
    margin: 3px 2px;
    cursor: pointer;
  }

  .dot-reset {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: red;
    margin: 2px 2px 0 0;
    cursor: pointer;
  }

  .hidden {
    background-color: blue;
  }

  .panel-statistic {
    display: flex;
    width: 710px;
    align-items: center;
    border: solid 1px;
    margin-bottom: 10px;
  }

  .bnt-reset {
    margin: 5px;
    cursor: pointer;
  }

  .statistic-text {
    margin-right: 5px;
  }

  .red {
    background-color: red;  
  }

/*  author Chalykh Maksim 
  # data 25.01.2025 
  # email: chalyh.maksim.88@mail.ru */